.musicbox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: white;
  background-color: black;

  .visualization-selector {
    min-width: 280px;
    width: 100%;
    max-width: 320px;
  }
}