.icon-button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  margin: 0;
  transition: opacity 0.5s ease-in-out;
  opacity: 0.6;

  &:disabled {
    color: #aaa;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    opacity: 1;
  }
}