.icon-button {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  margin: 0;
  transition: opacity 0.5s ease-in-out;
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));
  opacity: 0.8;

  &:disabled {
    color: #aaa;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    opacity: 1;
  }
}
