.sidebar-control-button {
  position: absolute;
  right: 0;
  border: 0;
  transform: translateX(100%);
  backdrop-filter: blur(10px);
  background: rgba(var(--sidebarColor), .6);
  border-radius: 0px 2px 2px 0px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgb(var(--sidebarColor));
  width: var(--sidebarControlsWidth);
  transition: all 0.3s ease-in-out;
  font-size: 2em;

  &.active {
    background-color: rgba(255, 0, 0, .1);
  }

  &:hover {
    backdrop-filter: blur(10px) brightness(150%);
  }
}