.icon-toggle-button {
  transition: background-color 0.4s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * {
    transition: opacity 0.6s;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.icon-toggle-active:hover {
    background-color: rgba(128, 0, 0, 0.6);
  }

  & > *:first-child {
    opacity: 0;
    position: absolute;
  }

  & > *:not(:first-child) {
    opacity: 1;
  }

  &.icon-toggle-active {
    & > *:first-child {
      opacity: 1;
    }

    & > *:not(:first-child) {
      opacity: 0;
    }
  }
}
