@import 'assets/font/akzidenz-grotesk/stylesheet.css';

body {
  font-family: 'Berthold Akzidenz Grotesk BE', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 500;
}
