.number-setting {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  max-width: 100%;
  width: 220px;
  box-sizing: border-box;

  label {
    font-size: 0.8em;
    padding: 4px 0;
  }

  input[type='range'] {
    appearance: none;
    width: 100%;
    height: 2px;
    background: #ddd;
    border-radius: 2px;
    outline: none;
    transition: background 0.2s;

    &:hover {
      background: #ccc;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 16px;
      height: 16px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
