.settings {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;

  section {
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    h1,
    h2 {
      text-transform: capitalize;
      margin: 0;
      margin-bottom: 8px;
    }
  }
}
